@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    --white: #000000  !important; 
    --black: #fffefe  !important;
    --blue: #474747  !important;
    --gray: #000000  !important;
}

#principal {
    height: 100vh  !important;
    display: flex  !important;
    align-items: center  !important;
    justify-content: center  !important;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif  !important;
    color: var(--white);
    background-color: var(--black)  !important;
}

.error_container {
    max-width: 800px  !important;
    display: flex  !important;
    flex-direction: column  !important;
    justify-content: center  !important;
    align-items: center  !important;
    gap: 30px  !important; /* Aumentamos el gap */
    padding-top: 40px  !important; /* Aumentamos el padding-top */
    margin: 0 10px  !important;
}

#error-digit-1, #error-digit-2, #error-digit-3 {
    font-size: 8rem !important; /* Reducimos ligeramente el tamaño */
    font-weight: 800;
}



.error_code {
    width: 100%  !important;
    margin: 0 auto  !important;
    display: flex  !important;
    justify-content: center  !important;
    align-items: center  !important;
    gap: 10px;
}



#error-digit-1 {
    animation: fall 1s linear;
    transform: rotateZ(-20deg);
}

#error-digit-2 {
    color: var(--blue);
    animation: bounce 1.2s 1.8s linear forwards;
    opacity: 0;
}

#error-digit-3 {
    animation: fall 1.8s linear;
    transform: rotateZ(8deg);
}


.error_title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 3%;
}

.error_description {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.6;
    padding: 0 10%;
    color: var(--gray);
}

.action {
    font: inherit;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}

.action:hover {
    opacity: 0.8;
}

@media screen and (min-width: 48rem) {
    .error_description {
        padding: 0;
    }
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 40%, 75%, 95% {
        transform: translateY(0);
        opacity: 1;
    }
    15% {
        transform: translateY(-25px);
    }
    65% {
        transform: translateY(-15px);
    }
    85% {
        transform: translateY(-5px);
    }
    100% {
        transform: rotateZ(45deg);
        opacity: 1;
    }
}
